<section class="container main-page-confidence">
    <div class="wrapper">
      <h3 class="main-page-confidence__title">Нам доверяют</h3>
      <div id="confidence-swiper" class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide__image">
              <img src="dist/images/partner-1.png" alt="" />
            </div>
            <div class="slide__title">ООО «Название компании»</div>
          </div>
          <div class="swiper-slide">
            <div class="slide__image">
              <img src="dist/images/partner-2.png" alt="" />
            </div>
            <div class="slide__title">ООО «Название компании»</div>
          </div>
          <div class="swiper-slide">
            <div class="slide__image">
              <img src="dist/images/partner-3.png" alt="" />
            </div>
            <div class="slide__title">ООО «Название компании»</div>
          </div>
          <div class="swiper-slide">
            <div class="slide__image">
              <img src="dist/images/partner-4.png" alt="" />
            </div>
            <div class="slide__title">ООО «Название компании»</div>
          </div>
          <div class="swiper-slide">
            <div class="slide__image">
              <img src="dist/images/partner-5.png" alt="" />
            </div>
            <div class="slide__title">ООО «Название компании»</div>
          </div>
          <div class="swiper-slide">
            <div class="slide__image">
              <img src="dist/images/partner-6.png" alt="" />
            </div>
            <div class="slide__title">ООО «Название компании»</div>
          </div>
          <div class="swiper-slide">
            <div class="slide__image">
              <img src="dist/images/partner-1.png" alt="" />
            </div>
            <div class="slide__title">ООО «Название компании»</div>
          </div>
          <div class="swiper-slide">
            <div class="slide__image">
              <img src="dist/images/partner-2.png" alt="" />
            </div>
            <div class="slide__title">ООО «Название компании»</div>
          </div>
          <div class="swiper-slide">
            <div class="slide__image">
              <img src="dist/images/partner-3.png" alt="" />
            </div>
            <div class="slide__title">ООО «Название компании»</div>
          </div>
          <div class="swiper-slide">
            <div class="slide__image">
              <img src="dist/images/partner-4.png" alt="" />
            </div>
            <div class="slide__title">ООО «Название компании»</div>
          </div>
          <div class="swiper-slide">
            <div class="slide__image">
              <img src="dist/images/partner-5.png" alt="" />
            </div>
            <div class="slide__title">ООО «Название компании»</div>
          </div>
          <div class="swiper-slide">
            <div class="slide__image">
              <img src="dist/images/partner-6.png" alt="" />
            </div>
            <div class="slide__title">ООО «Название компании»</div>
          </div>
        </div>
        <div class="swiper-button-prev">
          <svg
            width="16"
            height="12"
            viewBox="0 0 16 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3.83 5L7.41 1.41L6 0L0 6L6 12L7.41 10.59L3.83 7H16V5H3.83Z"
              fill="#333333"
            />
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg
            width="16"
            height="12"
            viewBox="0 0 16 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.17 7L8.59 10.59L10 12L16 6L10 0L8.59 1.41L12.17 5H0V7H12.17Z"
              fill="#009BA4"
            />
          </svg>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>