<div class="contact-us__popup">
  <div class="popup__container">
    <form class="contact-us__form">
      <div class="form__close">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_115_11088)">
            <path
              d="M11.9968 10.586L16.9468 5.63599L18.3608 7.04999L13.4108 12L18.3608 16.95L16.9468 18.364L11.9968 13.414L7.04681 18.364L5.63281 16.95L10.5828 12L5.63281 7.04999L7.04681 5.63599L11.9968 10.586Z"
              fill="#09121F"
            />
          </g>
          <defs>
            <clipPath id="clip0_115_11088">
              <rect width="24" height="24" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="form__title">Связаться с нами</div>
      <input type="text" name="name" placeholder="Контактное лицо" />
      <input type="text" name="company" placeholder="Название компании" />
      <input type="text" name="email" placeholder="Электронная почта" />
      <input type="text" name="tel" placeholder="Контактный телефон" />
      <textarea
        name="comment"
        id="comment"
        rows="5"
        placeholder="Комментарий"
      ></textarea>
      <label class="form__checkbox">
        <input type="checkbox" checked name="agreement" id="agreement" />
        <span></span>
        <span>Я соглашаюсь с <a href="#">политикой конфиденциальности</a></span>
      </label>
      <input class="btn btn-filled" type="submit" value="Отправить запрос" />
    </form>
  </div>
</div>
<div class="request__popup">
  <div class="popup__container">
    <form class="request__form">
      <div class="form__close">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_115_11088)">
            <path
              d="M11.9968 10.586L16.9468 5.63599L18.3608 7.04999L13.4108 12L18.3608 16.95L16.9468 18.364L11.9968 13.414L7.04681 18.364L5.63281 16.95L10.5828 12L5.63281 7.04999L7.04681 5.63599L11.9968 10.586Z"
              fill="#09121F"
            />
          </g>
          <defs>
            <clipPath id="clip0_115_11088">
              <rect width="24" height="24" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="form__title">Оформить заявку</div>
      <div class="form__tag">Пуско-наладочные работы</div>
      <div class="form__description">
        Заполните форму и наши специалисты на все интересующие вопросы
      </div>
      <input type="text" name="name" placeholder="Контактное лицо" />
      <input type="text" name="company" placeholder="Название компании" />
      <input type="text" name="email" placeholder="Электронная почта" />
      <input type="text" name="tel" placeholder="Контактный телефон" />
      <label class="file-upload">
        <input class="file-upload-input" type="file" />
        <span class="file-upload-btn"
          ><svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M1.07031 7.96497H15.0003" stroke="#009BA4" />
            <path d="M7.96484 1.06995V14.9999" stroke="#009BA4" />
          </svg>
          Приложить файл</span
        ><br /><span class="file-name"></span>
      </label>
      <textarea
        name="comment"
        id="comment"
        rows="5"
        placeholder="Комментарий"
      ></textarea>
      <label class="form__checkbox">
        <input type="checkbox" checked name="agreement" id="agreement" />
        <span></span>
        <span>Я соглашаюсь с <a href="#">политикой конфиденциальности</a></span>
      </label>
      <input class="btn btn-filled" type="submit" value="Оформить заявку" />
    </form>
  </div>
</div>
<div class="repair__popup">
  <div class="popup__container">
    <form class="repair__form">
      <div class="form__wrapper">
        <div class="form__close">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_115_11088)">
              <path
                d="M11.9968 10.586L16.9468 5.63599L18.3608 7.04999L13.4108 12L18.3608 16.95L16.9468 18.364L11.9968 13.414L7.04681 18.364L5.63281 16.95L10.5828 12L5.63281 7.04999L7.04681 5.63599L11.9968 10.586Z"
                fill="#09121F"
              />
            </g>
            <defs>
              <clipPath id="clip0_115_11088">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="form__title">Оформить заявку на ремонт</div>
        <div class="form__description">Описание неисправности</div>
        <input type="text" name="model" placeholder="Модель станка" />
        <input type="text" name="serial" placeholder="Серийный номер" />
        <label class="label-date">
          <span class="date-placeholder">Начало работ</span
          ><input class="input-date" type="date" name="date-start"
        /></label>
        <label class="label-date">
          <span class="date-placeholder">Окончание работ</span
          ><input class="input-date" type="date" name="date-end"
        /></label>
        <label class="file-upload">
          <input class="file-upload-input" type="file" />
          <span class="file-upload-btn"
            ><svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M1.07031 7.96497H15.0003" stroke="#009BA4" />
              <path d="M7.96484 1.06995V14.9999" stroke="#009BA4" />
            </svg>
            Приложить файл</span
          ><br /><span class="file-name"></span>
        </label>
        <textarea
          name="comment"
          id="comment"
          rows="5"
          placeholder="Дополнительная информация"
        ></textarea>
      </div>
      <div class="form__wrapper">
        <div class="form__title">Контактные данные</div>
        <input type="text" name="name" placeholder="Контактное лицо" />
        <input type="text" name="tel" placeholder="Контактный телефон" />
        <input type="text" name="email" placeholder="Электронная почта" />
        <label class="form__checkbox">
          <input type="checkbox" checked name="agreement" id="agreement" />
          <span></span>
          <span
            >Я соглашаюсь с <a href="#">политикой конфиденциальности</a></span
          >
        </label>
        <input class="btn btn-filled" type="submit" value="Оформить заявку" />
      </div>
    </form>
  </div>
</div>
<div class="costs__popup">
  <div class="popup__container">
    <form class="costs__form">
      <div class="form__wrapper">
        <div class="form__close">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_115_11088)">
              <path
                d="M11.9968 10.586L16.9468 5.63599L18.3608 7.04999L13.4108 12L18.3608 16.95L16.9468 18.364L11.9968 13.414L7.04681 18.364L5.63281 16.95L10.5828 12L5.63281 7.04999L7.04681 5.63599L11.9968 10.586Z"
                fill="#09121F"
              />
            </g>
            <defs>
              <clipPath id="clip0_115_11088">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="form__title">Запрос продукции</div>
        <div class="form__description">
          <div class="description__image">
            <img src="dist/images/kotel_4.png" alt="" />
          </div>
          <div class="description__title">
            Двухколонный ленточнопильный станок для резки труб и профиля 600
            CAMEL X-CNC-2000
          </div>
        </div>
      </div>
      <div class="form__wrapper">
        <div class="form__description-2">
          Заполните форму заказа и наши специалисты предоставят подробную
          информацию и подготовят индивидуальное предложение
        </div>
        <input type="text" name="name" placeholder="Контактное лицо" />
        <input type="text" name="company" placeholder="Название компании" />
        <input type="text" name="email" placeholder="Электронная почта" />
        <input type="text" name="tel" placeholder="Контактный телефон" />
        <label class="file-upload">
          <input class="file-upload-input" type="file" />
          <span class="file-upload-btn"
            ><svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M1.07031 7.96497H15.0003" stroke="#009BA4" />
              <path d="M7.96484 1.06995V14.9999" stroke="#009BA4" />
            </svg>
            Приложить файл</span
          ><br /><span class="file-name"></span>
        </label>
        <textarea
          name="comment"
          id="comment"
          rows="5"
          placeholder="Комментарий"
        ></textarea>
        <label class="form__checkbox">
          <input type="checkbox" checked name="agreement" id="agreement" />
          <span></span>
          <span
            >Я соглашаюсь с <a href="#">политикой конфиденциальности</a></span
          >
        </label>
        <input class="btn btn-filled" type="submit" value="Отправить запрос" />
      </div>
    </form>
  </div>
</div>
